nav li
{
	transition:3s;
	transform: rotate(180deg);
} 
body
{
	background-repeat: no-repeat;
	background-color: #F9F6F6;
}
header
{
	height: 200px;
	background-image: url('title.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: center;
	color: white;
}
h2
{
	text-align:center;
}
@-webkit-keyframes myfirst {
    from {background: red;}
    to {background: black;}
}
@keyframes myfirst {
    from {background: red;}
    to {background: black;}
}
li a:hover
{
	-webkit-animation: myfirst 5s;
	animation: myfirst 5s;
	transform: rotate(180deg);
}
#feedback *{
	margin-top: 25px;
}
.errorMessage{
	margin-left: 50px;
	color:red;
}
.successMessage{
	margin-left: 50px;
	color:blue;
}
input {
	margin-left: 30px;
}
textarea {
	margin-left: 30px;
}
.imagebox{
	width: 150px;
	height: 150px;
}
#popup{
	margin:0 0 0 0;
	padding: 0 0 0 0;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	position:absolute;
	display: none;
	background: transparent;
}
#popupimage{
	position:relative;
	top: 250px;
	left:25%;
}
.imagediv{
	display: inline;
	border-color: black;
}
#imageTitle{
	position:relative;
	top: 245px;
	left:45%;
	color:red;
}